
body {
  font-family:sans-serif;
  color:#888;
}

.zone-board {
  background-color:#EEE;
  border:2px solid gray;
  position: relative;
  width:900px;
  height:900px;
}

.zone-private {
  position: absolute;
  background-color:#FFF;
  border-radius: 8px;
  border:2px dashed #888;
  z-index:0;
}

.zone-private-player0 {
  bottom:10px;
  height:185px;
  left:480px;
  right:10px;
}

.zone-private-player1 {
  top:10px;
  height:185px;
  left:10px;
  right:480px;
}

.zone-private p {
  margin:5px;
}

.zone-fixed {
  position: absolute;
  background-color:#FFF;
  border-radius: 8px;
  border:2px dashed #888;
  z-index:0;
}

.zone-fixed-player0 {
  bottom:10px;
  left:10px;
  width:460px;
  height:185px;
}

.zone-fixed-player1 {
  top:10px;
  right:10px;
  width:460px;
  height:185px;
}


.zone-fixed p {
  margin:5px;
}

.card {
  width: 100px;
  height: 150px;
  position:absolute;
/*  z-index:1;*/
}

/*.card.moving {
  z-index:1000;
}
*/
.card img {
  border: solid 2px black;
  border-color:black;
  border-radius: 4px;
  position:absolute;
  width:100%;
  height:100%;
}

/*.card img:hover {
  z-index:999;
}
*/
.drop-target {opacity:0.5;}
.can-drop {border-width: 1px;}

/*.short-stack {}
.short-stack img:nth-of-type(1) {margin-top:0px;}
.short-stack img:nth-of-type(2) {margin-top:15px;margin-left:8px;}
.short-stack img:nth-of-type(3) {margin-top:30px;margin-left:16px;}
.short-stack img:nth-of-type(4) {margin-top:45px;margin-left:24px;}
.short-stack img:nth-of-type(5) {margin-top:60px;margin-left:30px;}
.short-stack img:nth-of-type(6) {margin-top:75px;margin-left:36px;}
.short-stack img:nth-of-type(7) {margin-top:90px;margin-left:42px;}
.short-stack img:nth-of-type(8) {margin-top:105px;margin-left:48px;}
.short-stack img:nth-of-type(9) {margin-top:120px;margin-left:54px;}




*/