
.board-container {
  background-color:#EEE;
  border:2px solid gray;
  position: relative;
  width:100%;
  height:400px;
}

.card {
  border: solid 5px black;
  border-color:black;
  border-radius: 5px;
  border-left-width:10px;
/*  border-top-width:10px;*/
  width: 100px;
  height: 150px;
  position:absolute;
  margin:0;
  padding:0;
  
}

.card img {
  position:absolute;
  margin-left:-5px;
  margin-top:-5px;
  width:110px;
  height:160px;
  clip:rect(5px,105px,155px,5px);
}