<!doctype html>
<html ng-app="gameboardApp">
<head>
  <title>gameboard</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.8/angular.min.js"></script>
  <script src="js/interact-1.2.0.js"></script>
  <script src="js/gameboard.js"></script>
  <link href="css/default.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body ng-controller="gameboardCtrl">  
    
  <div class="zone zone-board">
    <div class="draggable card" ng-repeat="stack in stacks" ng-class="{moving: stack.moving, 'short-stack': !stack.fixed}" style="transform:translate({{stack.x}}px,{{stack.y}}px) rotate({{stack.rotation}}deg);" data-index="{{$index}}">
      <img ng-if="stack.zone != 'fixed'" ng-repeat="card in stack.cards" ng-src="cards/{{stack.flipped ? card : '_back.jpg'}}" />
      <img ng-if="stack.zone == 'fixed'" ng-src="cards/{{stack.flipped ? stack.cards[stack.cards.length - 1] : '_back.jpg'}}" style="border-left-width: {{stack.cards.length / 2}}px"/>
    </div>
    <div class="zone zone-fixed">
      <p>Fixed</p>
    </div>
    <div class="zone zone-private">
      <p>Hidden</p>
    </div>
    
    
  </div>

  <p>debug list</p>
  <ul>
    <li ng-repeat="stack in stacks">{{stack.x}}/{{stack.y}}:{{stack.cards}}</li>
  </ul>
  
</body>
</html>
